.footer {
  max-width: 1000px;
  margin: 0 auto;
  font-family: $font-family-sans-serif-bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid $dark-blue;
  margin-top: 15px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    img {
      max-width: 50px;
    }
    a {
      text-decoration: none;
      font-weight: 900;
      font-family: $font-family-sans-serif-bold;
      color: $dark-blue;
    }
  }

  .navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      color: $dark-blue;
      font-family: $font-family-sans-serif;
      font-weight: 900;
      font-size: 12px;
      margin: 6px;
    }

    a:hover {
      color: $light-blue;
    }

    a:active {
      color: $yellow-green;
    }
  }

  .some {
    a {
      img {
        max-width: 30px;
        margin: 5px;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;

    .navigation {
      a {
        margin: 6px;
        font-size: 10px;
      }
    }
  }
}
