.wide-container-front {
  // background-image: url("../images/balls.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top;
  background-color: $light-blue;
}

.front {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 650px;
  justify-content: center;
}
