<footer class="footer">

<div class="logo">
        <a  href="index.html">
            <img
            src="./assets/images/logo-dark.svg"
            alt="Logo del sitio web."
            /></a>
            <a href="index.html" >AMATEUR TENIS</br>
        </div>

        <nav>
        <ul class="navigation">

            <li><a href="./miembros.html">MIEMBROS</a></li>
            <li><a href="./sobre-nosotros.html">SOBRE NOSOTROS</a></li>
            <li><a href="./contactanos.html">CONTACTANOS</a></li>
        </ul>
        </nav>

        <section class="some">

        <a  href="index.html">
            <img
            src="./assets/images/fb.svg"
            alt="Logo del sitio web."
            /></a>

        <a  href="index.html">
            <img
            src="./assets/images/insta.svg"
            alt="Logo del sitio web."
            /></a>
        <a  href="index.html">
            <img
            src="./assets/images/youtube.svg"
            alt="Logo del sitio web."
            /></a>

            </section>
        </footer>
