<div class="parent">
    <div class="div1">
        <div>
            <h5>!Juega con nosotros!,</h5>
            <p>no experiencia requerida</p>
        </div>
    </div>
    <div class="div2">
        <div>
            <h5>Entrena en las canchas <br />municipales</h5>
            <p>
                cada Lunes, Miércoles y Jueves, <br />
                de 18:00 a 20:00
            </p>
        </div>
    </div>

    <div class="div4">
        <div>
            <h1>Amateur tenis</h1>
            <h4>La liga de aficionados al tenis</h4>
        </div>
    </div>

    <div class="div5">
        <div>
            <h5>Marzo 2024</h5>
            <p>Próxima liga mixta</p>
        </div>
    </div>
</div>
