.flex-container {
  padding: 10px;
  margin: 10px;

  background-color: lightgrey;
  color: white;
  border: 0.5px solid black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-end;
  align-content: space-between;

  .flex-box {
    background-color: darkblue;
    border: 5px solid black;

    flex: 1 0 25%;

    p {
      font-size: 8px;
    }
  }
}
