@use "sass:color";

$font-family-sans-serif-bold: "Poppins", sans-serif;
$font-family-sans-serif: "Work Sans", sans-serif;

$yellow-green: #d4ff38;
$light-blue: #195dd8;
$dark-blue: #153687;
// $uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

// $mqMinWidth: 420px;
$layout-breakpoint-tablet: 1000px;
$layout-breakpoint-mobile: 850px;
