@import "variables";

@import "bootstrap/scss/bootstrap.scss";

@import "layouts/general";
@import "layouts/menu";
@import "layouts/footer";

.contact {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  form {
    // width: 800px;

    input {
      align-items: left;
    }
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .contact {
    margin-left: 15px;
    margin-right: 15px;
  }
}
